.categories {
  padding-top: 80px;
}

.categories-img {
  margin-bottom: 18px;
  display: flex;
  column-gap: 22px;
}

.categories-img img {
  flex: 1;
  width: 1em;
  object-fit: cover;
}

.categories-banner img {
  width: 100%;
}

/* -------- media query -------- */

@media (max-width: 1325px) {
  .categories {
    padding-top: 50px;
  }
}
