.hero {
  padding-bottom: 204px;
  background-color: #faf9f8;
}

.hero-row {
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
  align-items: center;
}

.hero-text {
  max-width: 978px;
}

.hero-text h1 {
  margin-bottom: 56px;
  font-size: 90px;
  letter-spacing: 0.14em;
}

.hero-text p {
  margin-bottom: 96px;
}

.hero-img img {
  width: 578px;
}

.btn-hero {
  padding: 25px 41px;
  background-color: #8e9a82;
  color: #fff;
  border-radius: 59px;
  letter-spacing: 0.15em;
  text-transform: uppercase;

  transition: all 0.2s ease-in;
}

.btn-hero:hover,
.btn:focus {
  background-color: #6f7767;
}

.btn-hero:active {
  position: relative;
  top: 1px;
  background-color: #8e9a82;
}

/* -------- media query -------- */

@media (max-width: 1645px) {
  .hero {
    padding-bottom: 120px;
  }

  .hero-text {
    max-width: 750px;
  }

  .hero-text h1 {
    margin-bottom: 24px;
  }

  .hero-text p {
    margin-bottom: 64px;
  }
}

@media (max-width: 1325px) {
  .hero-text {
    max-width: 550px;
  }
}

@media (max-width: 992px) {
  .hero {
    padding-bottom: 80px;
  }

  .hero-text {
    order: 1;
    max-width: 450px;
  }

  .hero-text h1 {
    margin-bottom: 10px;
  }

  .hero-text p {
    margin-bottom: 30px;
  }

  .hero-img {
    order: 2;
    width: 400px;
  }

  .btn-hero {
    padding: 10px 25px;
  }
}

@media (max-width: 811px) {
  .hero {
    padding-bottom: 30px;
  }

  .hero-row {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .hero-text {
    margin-bottom: 20px;
  }

  .hero-img {
    width: 270px;
  }
}
